
.wrapper{position: absolute;
    font-size: xx-large;
    height:100%;
    width: auto;
    padding: 5px;
    text-align: center;
    box-shadow:  0px 5px 1px,0px -5px 1px;
    border-radius: 20px;
  
}
.bee1{
    top: 300px;
    bottom: 200px;
}
.bee2{
    position: absolute;
    left: 1300px;
    top: 1630px;
}

.comb{position: absolute;
    left: 10px;
    top: 1650px;
}
.bee3{position: absolute;
    left: 200px;
    top: 1880px;
}

.bee4{position: absolute;
    left: 150px;
    top: 2450px;
}



html{
    scroll-behavior: smooth;
}
.upper{
    display: flex;
}
.topnav{top: 5px;
    
    position: sticky;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
    height:max-content;
    width: 90%;
    border: 1px white;
    border-radius: 40px;
    background-color: white;
 
}

.containt{margin-top: 10px;
    display: flex;
    gap: 20px;
}

.header{margin: 10px;
    
}
.button{
    background-color: rgb(245, 209, 8);
    color: rgb(22, 16, 16);
    font-size: 40px;
    box-shadow: 3px 3px 2px;
    border-radius:10px;
   margin:10px;
   width: 250px;
   height:80px;
   font-weight: 550px;
    cursor: pointer;
    border-color: white;
}
.sec1,.sec3{padding: 5px;
    background-color: rgb(245, 209, 8);
    box-shadow:  0px 5px 1px,0px -5px 1px;
    width: 100%;
    border-radius: 20px;
}
.sec2{
    padding: 5px;
    margin: 30px;
}
.sub-sections{
    display: flex;
   margin: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.sub-1,.sub-2,.sub-3{
     background-color: white;
     height: 430px;
     width: 400px;
     border-radius: 15px;
     ;
}
box{
   display: flex;
   justify-content: center;
}
.message{
    display: flex;
    justify-content: center;
}
.sec-4{
   
    border: 1px solid black;
    border-radius: 35px;
    height: 750px;
    width: 500px;
   
}

.box{
            
            height: 40px;
            width: 300px;
            border-radius: 10px;
            background-color: rgb(245, 209, 8);
          
}
.email{
   
            height: 300px;
            width: 450px;
            border-radius: 10px;
            background-color: rgb(245, 209, 8);
          
}
.send{
   
            background-color: orange;
            color: rgb(22, 16, 16);
            font-size: 25px;
            box-shadow: 1px 1px 2px;
            border-radius: 5px;
            margin: 20px;
            font-weight: 300px;
            cursor: pointer;
          
}
.Signup,.log-in{
    background-color: orange;
    color: rgb(22, 16, 16);
    font-size: 25px;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
   margin:20px;
   font-weight: 300px;
    cursor: pointer;
}